body{
    margin: 0;
   
}

#container
{
    width: 100vw;
    height: 700px;
    box-sizing: border-box;
    padding: 32px;

    background-image: url(1674459859475.jpg);
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content:center;
}

.item
{
    text-align: center;
    font-size: 10px;
    margin-left: 16px;
    margin-bottom: 16px;
    padding: 32px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-style: solid;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #0ff;
}