body{
    margin: 0;
   
}

#top-btn
{
    margin-left: 50%;
    margin-top: 12px;
    font-size: 30px;
}

main
{
    width: 980px;
    height: 400px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

div{
    text-align: center;
    padding: 4px;
    align-items: center;
}

div h3
{
    background-color: lightcoral;
    padding: 5px;
}


div p{
    background-color: lightgrey;
    font-size: 70px;

}
#over
{
    float: left;
    width: 300px;
    height: 200px;
    background-color: lightcyan;
    
}


#enter
{
    float: left;
    width: 300px;
    height: 200px;
    background-color: lightcyan;
    margin-left: 30px;
}

#move
{
    float: right;
    width: 300px;
    height: 200px;
    background-color: lightcyan;
}
