.container
{
    position: relative;
    text-align: center;
    color: white;
}

#bg-image
{
    width: 100%;  
}

#countdown
{
    position: absolute;
    top: 50%;
    left: 50%;
}